# Startup Config
API_ID = "29265798"
API_HASH = "9dd673fa7291fb5a954902ea10fc8cb5"
BOT_TOKEN = ""
AUTH_CHANNEL = "-1002410949273"
DATABASE_URL = "mongodb+srv://Kanhaiya2:kanhaiya960@cluster0.mm6vo.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
SESSION_STRING = ""

# Additional CDN Bots
# MULTI_TOKEN1 = ""
# MULTI_TOKEN2 = "" (upto 50)

# Web Config
BASE_URL = ""
PORT = "8080"

# Login Details
USERNAME = "admin" 
PASSWORD = "admin"

# Playlist Login Details
ADMIN_USERNAME = "surfTG"
ADMIN_PASSWORD = "surfTG"

SLEEP_THRESHOLD = "60"  #Reduce FloodWait
WORKERS = "100"         #Parallel Tasks
THEME = "quartz"        # Avl : Bootswatch.com
MULTI_CLIENT = ""       #Leave Empty to set it False
HIDE_CHANNEL = ""       #Leave Empty to set it False
